{% extends 'stocks/base.html' %}

{% block title %}About{% endblock %}

{% block content %}
<div>
  <h1>About the app</h1> 
  <p>This app was made using python's web framework, django, to practice and showcase my front end and back end abilities. There are lots of technologies from the frame work to pandas and the math skills that I learned in school.</p>
  <p>The main use of this app is to analyze some data about the stocks in the sp500. The day change and month change is calculated and then also the average is calculated for the whole sector.</p>
  <h1>Contact</h1>
  <p>My name is Austin Villanueva, avillann00 on github. Thank you for the support.</p>
</div>
{% endblock %}

