{% extends 'stocks/base.html' %}

{% block title %}
    Stock Information
{% endblock %}

{% block content %}
    <h1>Overview Organized by Sector</h1>
    {% for sectors, df, graph, avg in page_obj %}
        <div class="sector-container mb-4">
            <h2>{{ sectors }}</h2>
            <div class="table-container mb-3">
               {{ df|safe }}
            </div>
            <div class="graph-container mb-3">
                {% if graph %}
                    <img src="{{ graph }}" alt="Graph for sector" class="img-fluid">
                {% else %}
                    <p>No graph available</p>
                {% endif %}
            </div>
            <div class="average-day-change mb-3">
                <p>Average Day Change: {{ avg }}</p>
            </div>
        </div>
    {% endfor %}

    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; First</a>
                <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">Next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endblock %}

